@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&display=swap');
html{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #020613;
    display: grid;
    place-items: center;
}

.container{
    height: 600px;
    width: 800px;
    margin-top: 20vh;
}

.tv{
    position: relative;
}

.tv-img{
    height: auto;
    width: 800px;
    z-index: 200;
    filter: brightness(80%) grayscale(30%);
}

.clown{
    height: auto;
    width: 600px;
    z-index: -1;
    position: absolute;
    right: 20%;
    bottom: 23%;
}

button{
    position: relative;
    bottom: 30%;
    left: 638px;
    cursor: pointer;
    outline: none;
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-family: 'IBM Plex Mono', monospace;
    color: #ffffff91;
    background: #27251E;
    border: 6px solid #6D6864;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

button:hover{
    filter: brightness(90%);
}
button:active{
    transform: scale(0.98);
}
button:disabled{
    cursor: default;
    filter: brightness(30%);
}

/* media query: tablet or smaller */
@media screen and (max-width: 1000px) {
    .container{
        background-position: center center;
        background-size: cover;
    }
    button{
        box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
    }
}